<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userNS">
	<!-- select에만 리턴타입을 적어줌 -->
	<select id="getUserList" resultType="com.spring.javaclassS.vo.UserVO">
		select * from user order by idx desc;
	</select>
	
	
	
	
	<insert id="setUserInputOk" parameterType="userVO">
		insert into user values (default, #{vo.mid}, #{vo.name}, #{vo.age}, #{vo.address});
	</insert>
	
	
	
	
	<delete id="setUserDelete">
		delete from user where idx = #{idx};
	</delete>
</mapper>